*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: white; /* este me dice el color de la letra */
    text-align: center;
}

div{
    font-size: 16px; /* este me dice el tamaño de la letra */
}

.titulo-principal{
    color: rgb(160, 35, 13);
    font-size: 48px;
}

.titulo-lista-nav{/* este es un selector personalizado */
    color: rgb(160, 35, 13);
    padding: 0 0 0 16px;
    display: flex;
    flex-wrap: wrap;
} 
.titulo-nav{
    display: flex;
    text-decoration: dashed;
    flex-wrap: wrap;
}

.color-encabezado{
    background-color: rgb(156, 86, 75);
}

li{
    display: flex;
    padding: 10px;
    font-size: 20px;
}

.img-chica{
    width: 30px;
    height: 50px;
}

.img-medium{
    width: 300px;
    height: 200px;
}
.header-logo{
    display: flex;
}

.img-destacada{
    width: 300px;
    height: 200px;
} 

.fondo-main{
    background-image: url(../resources/purmamarca.jpg);
    background-size: 100%;
    
}

.fondo-quebrada{
    background-image: url(../resources/purmamarca.jpg);
    background-size: 100%;
}
.fotos{
    padding-inline: 200px 0; /* arriba derecha abajo izquierda */
}
.creditos-redes-sociales{
    background-color: rgb(105, 193, 105);
    padding: 0 0 0 16px;
}

.header-nav{
    display: flex;
}

.lista-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 193, 105);
}

.titulo-footer{
    background-color: rgb(105, 193, 105);
}
.titulo-main-paginas{
    text-align: center;

}
.nav-paginas{
    margin: 0px 0px 0px 400px;
    text-align: center;
    display: flex;
}

.imagenes-grids{
    display: grid;
    grid-template-columns: 1fr 1fr ;/* fr: esta unidad de medida se aprica solamente en grids */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"lagunas caspala "
                        "lagunas calilegua"; 
}

.lagunas{
    grid-area: lagunas;
}

.caspala{
    grid-area: caspala;
}

.calilegua{
    grid-area: calilegua;
}